.main {
  align-items: center;
  min-height: 100vh;
}

.header {
  margin-top: 75px;
}

.h1 {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

.description {
  margin-top: 10px;
  text-align: center;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  opacity: 0.8;
}

.u_contentWidth {
  --paddingX: 18px;
  width: min(100% - var(--paddingX), 928px);
  margin-left: auto;
  margin-right: auto;
}

.body {
  margin-top: 60px;
}

.paragraph {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 156%;
  opacity: 0.9;
}
